<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="payment">

	<select id="sequence" resultType="int">
		select payment_seq.nextval from dual
	</select>
	
	<insert id="save">
		insert into payment(
			payment_no, payment_member, payment_tid, 
			payment_name, payment_price, payment_remain
		)
		values(
			#{paymentNo}, #{paymentMember}, #{paymentTid}, 
			#{paymentName}, #{paymentPrice}, #{paymentRemain}
		)
		
	</insert>
	
	<!-- 결제 상세정보 등록 -->
	<insert id="saveDetail">
		insert into payment_detail(
		  payment_detail_no, payment_detail_origin, payment_detail_product, 
		  payment_detail_product_name, payment_detail_product_price, 
		  payment_detail_product_qty, payment_detail_status
		) 
		values(
			payment_detail_seq.nextval, #{paymentDetailOrigin}, 
			#{paymentDetailProduct}, #{paymentDetailProductName}, 
			#{paymentDetailProductPrice}, #{paymentDetailProductQty}, 
			'완료'
		)
	</insert>
	
	
	<!-- 결제 대표정보만 조회(사용자별/전체) -->
	<select id="list" resultType="PaymentDto">;
		select * from payment order by payment_no asc
	</select>
	<!-- 결제 상세정보를 조회(결제 대표번호별) -->
	<select id="listDetail" resultType ="PaymentDetailDto">
	  select * from payment_detail 
	  where payment_detail_origin = #{paymentDetailOrigin}
	  order by payment_detail_no asc
	</select>
	
	<!-- 
	결제 대표정보와 상세정보를 계층형으로 조회 
	-resultType은 필드명으로 데이터베이스 조회 결과를 매핑하여 처리한다
	-지금과 같이 복잡한 구조는 처리가 불가능하다
	- resultMap 항목을 선언하여 수동으로 매핑하도록 처리한다
	 -->
	 <resultMap type="PaymentListVO" id="paymentListVO">
	   <!-- 일단 조회 결과는 내가 지정한 객체에 필드에 맞게 배치해라! -->
	   
	   <!-- List가 하나 있는데 구문 알려줄테니까 니가 알아서 조회해서 채워라! -->
	 </resultMap>
	 
	<select id= "listAll" resultMap ="paymentListVO">
		select * from payment order by payment_no asc
	</select>
	
	
</mapper>